@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  font-family: "Poppins", sans-serif;
}

body header .navstyleIndexColor {
  background-color: white;
}
body header .navstyle {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding-left: 2vh;
  padding-right: 2vh;
}
body header div .elementStyle {
  flex-grow: unset;
}
body header nav div .textoTekRgb {
  background: linear-gradient(302deg, #d71a71, #2c4acc, #37277f, #4aaaf3, #7a082d, #271655);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 1200% 1200%;
  animation: AnimationName 12s ease infinite;
}
@keyframes AnimationName {
  0% {
    background-position: 0% 30%;
  }
  50% {
    background-position: 100% 71%;
  }
  100% {
    background-position: 0% 30%;
  }
}
body header nav div .textoTekGamers {
  background: linear-gradient(302deg, white, white, #A65D8C, #A65D8C, white, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 1200% 1200%;
  animation: AnimationName 8s ease infinite;
}
@keyframes AnimationName {
  0% {
    background-position: 0% 30%;
  }
  50% {
    background-position: 100% 71%;
  }
  100% {
    background-position: 0% 30%;
  }
}
body header nav div .textoTekDesigners {
  background: linear-gradient(302deg, white, white, #143959, #143959, white, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 1200% 1200%;
  animation: AnimationName 8s ease infinite;
}
@keyframes AnimationName {
  0% {
    background-position: 0% 30%;
  }
  50% {
    background-position: 100% 71%;
  }
  100% {
    background-position: 0% 30%;
  }
}
body header nav div .textoTekSmart {
  background: linear-gradient(302deg, white, white, #8C8C8B, #8C8C8B, white, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 1200% 1200%;
  animation: AnimationName 8s ease infinite;
}
@keyframes AnimationName {
  0% {
    background-position: 0% 30%;
  }
  50% {
    background-position: 100% 71%;
  }
  100% {
    background-position: 0% 30%;
  }
}

.tittlePagePrincipal {
  color: white;
}

.colorIndex {
  background-color: white;
}

.colorNavGamers {
  background-color: #A65D8C;
}

.colorNavDiseñadores {
  background-color: #143959;
}

.colorNavShome {
  background-color: #8C8C8B;
}

.colorNavContact {
  background-color: #0E1B26;
}

main div div div .quienesSomos {
  text-align: center;
  padding-top: 20px;
}
main div div div .quienesSomosP {
  text-align: justify;
  padding-right: 20px;
  padding-left: 20px;
}
main .novedades {
  background: linear-gradient(302deg, #ffffff, #212529, none, none, none, none);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 1200% 1200%;
  animation: AnimationName 4s ease infinite;
}
@keyframes AnimationName {
  0% {
    background-position: 0% 30%;
  }
  50% {
    background-position: 100% 71%;
  }
  100% {
    background-position: 0% 30%;
  }
}
main div div div figure {
  transition: 0.7s;
}
main div div div figure .imagenesNovedades {
  height: 300px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
main div div div figure figcaption p {
  text-align: justify;
}
main div div div .imghvr-fade :hover {
  background-color: rgba(0, 0, 0, 0.555);
}

.divsAnimation {
  position: relative;
}

main div div .colorT1Gamers {
  background-color: #D9A9D1;
  color: white;
}
main div div div div div .styleTableGamers thead {
  background-color: #D9A9D1;
}
main div div div div div .textGamers {
  text-align: justify;
}
main div div .styleLinksSaltos a {
  text-decoration: none;
  background-color: #A65D8C;
  padding: 5px;
  border-radius: 10px;
  color: white;
}

.styleImgGamers {
  width: 300px;
  height: 300px;
}

main div .colorT1Diseñadores {
  background-color: #D9AD5B;
  color: white;
}
main div div div div table tbody tr td a {
  text-decoration: none;
  color: white;
}
main div div div .textDesigners {
  text-align: justify;
}
main div div div div .styleLinksSaltosDisigners a {
  text-decoration: none;
  background-color: #143959;
  padding: 5px;
  border-radius: 10px;
  color: white;
}

#gama1 {
  background-color: #363B59;
  color: white;
}
#gama1 a {
  color: white;
  text-decoration: none;
}

#gama2 {
  background-color: #363B59;
  color: white;
}
#gama2 a {
  color: white;
  text-decoration: none;
}

#gama3 {
  background-color: #727FA6;
  color: white;
}
#gama3 a {
  color: white;
  text-decoration: none;
}

#gama4 {
  background-color: #727FA6;
  color: white;
}
#gama4 a {
  color: white;
  text-decoration: none;
}

#gama5 {
  background-color: #0388A6;
  color: white;
}
#gama5 a {
  color: white;
  text-decoration: none;
}

#gama6 {
  background-color: #0388A6;
  color: white;
}
#gama6 a {
  color: white;
  text-decoration: none;
}

.styleTableDesigners {
  background-color: #D9AD5B;
}

#gama1D {
  background-color: #BF7E45;
  color: white;
}
#gama1D a {
  color: white;
  text-decoration: none;
}

#gama2D {
  background-color: #BF7E45;
  color: white;
}
#gama2D a {
  color: white;
  text-decoration: none;
}

#gama3D {
  background-color: #402110;
  color: white;
}
#gama3D a {
  color: white;
  text-decoration: none;
}

#gama4D {
  background-color: #402110;
  color: white;
}
#gama4D a {
  color: white;
  text-decoration: none;
}

#gama5D {
  background-color: #8C4F2B;
  color: white;
}
#gama5D a {
  color: white;
  text-decoration: none;
}

#gama6D {
  background-color: #8C4F2B;
  color: white;
}
#gama6D a {
  color: white;
  text-decoration: none;
}

main div .titleContactanos {
  padding-top: 75px;
  padding-bottom: 50px;
  text-align: center;
}

main div .colorT1SmartHome {
  background-color: #736253;
  color: white;
}
main div div .styleParrafoSmart {
  padding-top: 25px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 20px;
}
main div div .styleParrafoSmart p {
  text-align: justify;
  font-size: large;
}
main div div .styleParrafoDiv1 {
  text-align: justify;
}
main div div .styleImgDiv1 {
  width: 300px;
  height: 300px;
}
main div div div .animationH2Smart {
  background: linear-gradient(302deg, #0565d3, #157ef4, #04f3f8, #04f3f8, #157ef4, #0565d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 1200% 1200%;
  animation: AnimationName 9s ease infinite;
}
@keyframes AnimationName {
  0% {
    background-position: 0% 30%;
  }
  50% {
    background-position: 100% 71%;
  }
  100% {
    background-position: 0% 30%;
  }
}
main div div button a {
  text-decoration: none;
  background-color: #143959;
  padding: 5px;
  border-radius: 10px;
  color: white;
}

.animacionCard {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.animacionCard span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #D8A9CE);
  animation: animate-1 2s linear infinite;
}
@keyframes animate-1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.animacionCard span:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, #D8A9CE);
  animation: animate-2 2s linear infinite;
}
@keyframes animate-2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animacionCard h3 {
  padding-left: 30px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.animacionCard .colorSectionGamersT1 {
  background-color: #363B59;
}
.animacionCard .colorSectionGamersT2 {
  background-color: #727FA6;
}
.animacionCard .colorSectionGamersT3 {
  background-color: #0388A6;
}

.animacionCardDsigners {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.animacionCardDsigners span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, #143959);
  animation: animate-1 2s linear infinite;
}
@keyframes animate-1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.animacionCardDsigners span:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to left, transparent, #143959);
  animation: animate-2 2s linear infinite;
}
@keyframes animate-2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animacionCardDsigners h3 {
  padding-left: 30px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}
.animacionCardDsigners .colorSectionDsignersT1 {
  background-color: #BF7E45;
}
.animacionCardDsigners .colorSectionDsignersT2 {
  background-color: #402110;
}
.animacionCardDsigners .colorSectionDsignersT3 {
  background-color: #8C4F2B;
}

main div .error404contenido {
  height: 80vh;
}
main div .error404contenido div .imgError {
  height: 500px;
}

.backColor {
  background-color: #0E1B26;
  position: relative;
  top: 20px;
}
.backColor div div .siguenos {
  text-align: center;
  position: relative;
  top: 40px;
  color: #D5E5F2;
}
.backColor div div .socialReds {
  bottom: 4rem;
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.backColor div div .socialReds a {
  position: relative;
  top: 50px;
  width: 50px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 70px;
  margin-right: 20px;
  font-size: 30px;
  color: #D5E5F2;
}
.backColor div div .socialReds .instagram :hover {
  background: linear-gradient(302deg, #405DE6, #5851DB, #833AB4, #C13584, #FD1D1D, #F56040);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 1200% 1200%;
  animation: AnimationName 2s ease infinite;
}
.backColor div div .socialReds .facebook :hover {
  background: linear-gradient(302deg, #4267B2, #1877F2, #1877F2, #898F9C, #1877F2, #4267B2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 1200% 1200%;
  animation: AnimationName 2s ease infinite;
}
.backColor div div .socialReds .linkedin :hover {
  background: linear-gradient(302deg, #0077b5, #1877F2, #1877F2, #ffffff, #1877F2, #0077b5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 1200% 1200%;
  animation: AnimationName 2s ease infinite;
}
.backColor div div div .direccLocal {
  text-align: center;
  padding-top: 20px;
  color: #D5E5F2;
}/*# sourceMappingURL=style.css.map */