$colorBlanco: white;
$colorGamers: #A65D8C;
$colorDiseñadores: #143959;
$colorSmartHome: #8C8C8B;
$colorLredes: #D5E5F2;
$colorFooter:#0E1B26;
$colorAnimacionGamer: #D8A9CE;
$colorTabla1Gamer:#363B59;
$colorTabla2Gamer:#727FA6;
$colorTabla3Gamer:#0388A6;
$colorTabla1Dsigner:#BF7E45;
$colorTabla2Dsigner:#402110;
$colorTabla3Dsigner:#8C4F2B;


